[submodule "dbms(cs3550 + cs3563)/stovfl_clone"]
	path = dbms(cs3550 + cs3563)/stovfl_clone
	url = git@github.com:SterbenVD/stovfl_clone
	branch = main
[submodule "cs3423/CS3423-DSL"]
	path = cs3423/CS3423-DSL
	url = git@github.com:HarshitPnt/CS3423-DSL.git
	branch = main
[submodule "cs3530/ALTO"]
	path = cs3530/ALTO
	url = git@github.com:SterbenVD/ALTO.git
	branch = main
[submodule "cs1023/Twitter-Clone"]
	path = cs1023/Twitter-Clone
	url = git@github.com:SterbenVD/Twitter-Clone
